[Desktop Entry]
Name=Loongbian
X-KDE-PluginInfo-Name=Loongbian
X-KDE-PluginInfo-Author=Loongbian Maintainers
X-KDE-PluginInfo-Email=loongbian@loongson.cn
X-KDE-PluginInfo-License=GPLv2+
